@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	
}
html,body{
	height: 100%;
	
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

.sessao1{
	width: 100%;
	padding:0 2%;
	background-color: #472562;
	height: 400px;
}

.texto-sessao1{
	float: left;
	color: white;
	position: relative;
	left: 55px;
	width: 50%;
	margin-top: 60px;
	padding-left: 80px;
}

.texto-sessao1 h2{
	font-weight: 300;
	font-size: 26px;
}

.texto-sessao1 p {
	margin-top: 30px;
	font-size: 15px;
	/*font-weight: 300;*/
}

.texto-sessao1 ul{
	font-size: 13px;
	list-style-position: inside;
	margin-top: 8px;
}

.texto-sessao1 ul li{
	float: left;
	width: 100%;
	
	
}

.device-sessao1{
	float: left;
	width: 50%;
	height: 430px;
	background-image: url("../imagens/device.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: -30px;
	
}

section.sessao1 .container{
	max-width: 1000px;
}

.btn1-texto{
	
	background-color:#ff6600;
	width: 165px;
	height: 44px;
	color: white;
	cursor: pointer;
	margin-top: 30px;
	text-align: center;
	line-height: 44px;
	border-radius: 40px;
	font-size: 18px;
	
	
}


/*section .sessao1{
	width: 100%;
	padding: 20px 2%;
	background-color: #472562;
}*/

header{
	width: 100%;
	height: 90vh; /*Funciona Parecido com a porcentagem*/
	padding: 40px 2%;
	/*max-height: 700px;*/
	background-size: cover; /*Vai sempre cobrir*/
	background-position: center;/*Vai sempre centralizar*/
	background-image: url("../imagens/capa.png");
}

header .logo{
	float: left;
	width: 160px;
	height: 40px;
	background-color: #ccc;
	
}

header nav{
	float: right;
}

header nav ul{
	list-style-type: none;
}

header nav li{
	
	padding: 0 20px;
	float: left;
	margin: 0 20px;
	
	/*display: inline-block;*/
}

header li a{
	text-decoration: none;
	color: white;
}

.chamada1{
	max-width: 600px;
	float: right;
	margin:140px 110px;
}

.chamada1 h2{
	font-size: 40px;
	color: white;
	font-weight: normal;
}

.chamada1 p{
	font-size: 15px;
	color: white;
	margin-top: 10px;
	
}

@media screen and (max-width: 768px){

section.sessao1{
	padding:40px 2%;
	height: auto;
}

.texto-sessao1{
		margin-top: 0;
		position: static;
		float: none;
		text-align: center;
	}	

	.device-sessao1{
		display: none;
	}	
}



/*
header > .container > nav > ul > li > a{
	color:white;
}*/